[Unit]
Description=Ceph Manager Daemon
Documentation=http://github.com/shift/ceph-rkt
After=network.target etcd-member.service

[Service]
Environment="IMAGE=quay.io/shift/ceph"
Environment="VERSION=kraken-ubuntu-16.04"
Environment="KV_TYPE=etcd"
Environment="KV_IP=%H"
Environment="KV_PORT=2379"
Environment="KV_CA_CERT=/etc/ssl/etcd-ca.crt"
Environment="KV_CLIENT_CERT=/etc/ssl/etcd-client.crt"
Environment="KV_CLIENT_KEY=/etc/ssl/etcd-client.key"
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/mkdir -p /var/lib/ceph/mon
ExecStartPre=/usr/bin/mkdir -p /etc/ceph
ExecStartPre=/usr/bin/mkdir -p /etc/ganesha
ExecStart=/usr/bin/rkt run --net=host --inherit-env \
   --trust-keys-from-https \
   --volume volume-var-lib-ceph,kind=host,source=/var/lib/ceph \
   --volume volume-etc-ceph,kind=host,source=/etc/ceph \
   --volume volume-etc-ganesha,kind=host,source=/etc/ganesha \
   --volume volume-etc-ssl,kind=host,source=/etc/ssl/etcd \
   --mount volume=volume-etc-ganesha,target=/etc/ganesha \
   --mount volume=volume-var-lib-ceph,target=/var/lib/ceph \
   --mount volume=volume-etc-ceph,target=/etc/ceph \
   --mount volume=volume-etc-ssl,target=/etc/ssl \
   --stage1-name=coreos.com/rkt/stage1-fly:1.26.0 \
   ${IMAGE}:${VERSION} \
   --caps-retain=CAP_NET_ADMIN,CAP_NET_BIND_SERVICE,CAP_SETGID,CAP_SETUID,CAP_NET_RAW \
   -- \
   mgr
Restart=always
RestartSec=10s
TimeoutStartSec=100
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
